.articles {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 940px;
}

.articles__item {
  margin-top: -80px;
  position: relative;
  width: 220px;

  &--south::before {
    content: "Юг";
    padding-top: 34px;
    padding-left: 7px;
    font-size: 14px;
    font-weight: bolder;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #fcb53b;
  }

  &--ZSMK::before {
    content: "ЗСМК";
    padding-top: 34px;
    padding-left: 7px;
    font-size: 14px;
    font-weight: bolder;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee2d24;
  }

  &--NTMK::before {
    content: "НТМК";
    padding-top: 34px;
    padding-left: 7px;
    font-size: 14px;
    font-weight: bolder;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #f57f29;
  }
}

.articles__item::before {
  position: absolute;
  top: 117px;
  left: 11px;
  width: 60px;
  height: 60px;
}

.articles__item p {
  margin: 0;
  margin-top: 20px;
  padding-left: 10px;
  width: 200px;
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: 0.01em;
  line-height: 1.4;
}

.articles__item span {
  display: block;
  margin-top: 12px;
  padding-left: 2px;
  letter-spacing: normal;
}

.articles__filters {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.articles__button {
  position: relative;
  margin-right: 17px;
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 46px;
  width: 152px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bolder;
  letter-spacing: 0.06em;
}

.articles__button:last-child {
  margin-right: 0;
}

.articles__button--all::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 10px;
  width: 26px;
  height: 20px;
  background-image: url("../img/sprite.png");
  background-position: -30px -50px;
}

.articles__button--region::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 18px;
  width: 14px;
  height: 20px;
  background-image: url("../img/sprite.png");
  background-position: -104px -50px;
}
