.user-nav {

  &__list {
    margin: 0;
    margin-top: 41px;
    margin-left: 110px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 910px;
    list-style: none;
  }

  &__item {
    position: relative;
    margin-right: 40px;
    min-height: 30px;
  }


}

.user-nav__list a,
.user-nav__list input {
  padding-left: 40px;
  color: inherit;
  letter-spacing: 0.05em;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  border: none;
}

.user-nav__item--buses a {
  position: relative;
  padding-left: 140px;
}

.user-nav__item--buses a::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 100px;
  width: 19px;
  height: 20px;
  background-image: url("../img/sprite.png");
  background-position: -80px -51px;
}

.user-nav__item--dining-room a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  width: 16px;
  height: 20px;
  background-image: url("../img/sprite.png");
  background-position: 0px -80px;
}

.user-nav__item--floors a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 20px;
  background-image: url("../img/sprite.png");
  background-position: -80px -31px;
}

.user-nav__item--territories a {
  padding-left: 48px;
}

.user-nav__item--territories a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 11px;
  width: 17px;
  height: 20px;
  background-image: url("../img/sprite.png");
  background-position: -56px -50px;
}

.user-nav__item--search input {
  padding-top: 0;
  padding-left: 49px;
  width: 106px;
}

.user-nav__item .user-nav__search-button {
  position: absolute;
  top: 2px;
  left: 16px;
  width: 16px;
  height: 16px;
  font-size: 0;
  background-image: url("../img/sprite.png");
  background-position: -16px -80px;
}

.user-nav__item--mail {
  margin-right: 36px;
  width: 35px;
}

.user-nav__item--mail a {
  padding: 0;
  font-size: 0;
}

.user-nav__item--mail a::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 1px;
  width: 23px;
  height: 16px;
  background-image: url("../img/sprite.png");
  background-position: -50px -31px;
}

.user-nav__item--mail a::after {
  content: "12";
  position: absolute;
  top: -6px;
  right: 2px;
  width: 15px;
  height: 15px;
  padding: 3px 3px;
  font-size: 8px;
  font-weight: bolder;
  color: #ffffff;
  background-color: #ee2d24;
  border-radius: 4px;
}

.user-nav__ellipse {
  position: absolute;
  left: 1px;
  top: -20px;
  padding-left: 17px;
  padding-top: 17px;
  height: 60px;
  width: 60px;
  font-size: 24px;
  font-weight: bold;
  color: #231f20;
  background-color: #e3e3e4;
  border-radius: 50px;
}
